:root {
    --bg: rgba(18, 18, 18, 1);
    --text: white;
    --border: rgba(51, 51, 51, 1);
    --borderGradient: background: linear-gradient(
            90deg,
            #ffffff 0%,
            rgba(255, 255, 255, 0%) 50%,
            #ffffff 100%
        );
    --bgGradient: linear-gradient(180deg, #1b1b1b 0%, #272727 100%);
    --shadow: inset 0px -4px 4px 0px rgba(0, 0, 0, 40%);
    --ele1: rgba(27, 27, 27, 1);
}

body {
    margin: 0;
    font-family: "Geist", sans-serif;
    background-color: var(--bg);
}

main {
    box-sizing: border-box;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: var(--text);
    gap: 25px;
    padding: 25px 20px 0px 20px;
}

.hidden {
    display: none;
}

.title {
    font-size: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 14px 7px 14px;
    border-radius: 800px;
    user-select: none;
    background-color: var(--bg);
}

.title-border {
    z-index: -1;
    position: absolute;
    font-size: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 15px 8px 15px;
    border-radius: 800px;
    background: linear-gradient(
        90deg,
        #ffffff 0%,
        rgba(255, 255, 255, 0%) 50%,
        #ffffff 100%
    );
}

.title-bx {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fileInput {
    display: none;
}

.fileInputButton {
    all: unset;
    width: 100%;
    max-width: 494px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 15px;
    background: var(--bgGradient);
    border: solid 1px var(--border);
    padding: 8px 0px 8px 0px;
    color: white;
    font-size: 20px;
    box-shadow: var(--shadow);
    transition: all ease-in-out 0.2s;
}

.fileInputButton:hover {
    box-shadow: inset 0px -2px 4px 0px rgba(0, 0, 0, 40%);
    padding: 8px 4px 8px 4px;
}

.image-viewer {
    all: unset;
    width: 100%;
    height: 460px;
    max-width: 876px;
    border-radius: 15px;
    background: var(--bgGradient);
    border: solid 1px var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 10px;
    box-sizing: border-box;
}

.image-viewer-alert {
    width: 100%;
    height: fit-content;
    gap: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 50%;
    font-size: 20px;
    pointer-events: none;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.list-bx {
    width: 100%;
    max-width: 876px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.list-item {
    width: 100%;
    min-height: 63px;
    height: fit-content;
    display: flex;
    border-radius: 5px;
    border: solid 1px var(--border);
    box-sizing: border-box;
    padding: 18px 21px 18px 21px;
    background: var(--ele1);
    justify-content: space-between;
    align-items: center;
}

.list-item:nth-child(1) {
    border-radius: 15px 15px 5px 5px;
}

.list-item:last-child {
    border-radius: 5px 5px 15px 15px;
}

.list-item-name {
    font-size: 20px;
    width: 100%;
    text-align: left;
}

.list-item-value {
    font-family: "Martian Mono", monospace;
    font-size: 15px;
    width: 100%;
    text-align: right;
}

.buttons {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.button {
    all: unset;
    width: fit-content;
    height: fit-content;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: var(--bgGradient);
    border: solid 1px var(--border);
    box-shadow: var(--shadow);
    border-radius: 15px;
    font-size: 20px;
    transition: all ease-in-out 0.2s;
}

.button:hover {
    box-shadow: inset 0px -2px 4px 0px rgba(0, 0, 0, 40%);
    padding: 10px 14px 10px 14px;
}

.footer {
    width: 100%;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    opacity: 50%;
    div {
        font-size: 20px;
    }
}

a:visited {
    color: white;
}

a {
    color: white;
}
